<div class="footer">        
&copy; 2022 Copyright:<a class="text-dark" href="/contact" >belart.com</a>
<p > Find us on:
<a href="http://www.facebook.com"><img src="/images/facebook.png"  alt="facebook logo" height="20" width="20" ></a>
<a href ="http://www.instagram.com"><img src="/images/instagram.png" alt="Instagram logo" height="20" width="20" ></a>
<a href ="http://www.instagram.com"><img src="/images/twitter.png" alt="Twitter logo" height="20" width="20" ></a>
</p>
</div>
				
</body>
</html>