<%- include('./partials/header.ejs') %>

<div class="main">

        <p>Bel:Art, is an art trading website brought together by a group of friends.</p>
        <p>As a group of gallerist, we bring to you unique art pieces from all over the world </p>
        <p>Check out our website to find about the art pieces we have procured and 
            information regarding them </p>
</div>



<%- include('./partials/footer.ejs') %>
