
<%- include('./partials/header.ejs') %>
<div class = "main">
        <h4>Address</h4>
        <p>Woodward Hall, 8812 Craver Road, Charlotte, NC- 28223</p>
        <p>10:00 am to 7:00 pm EST</p>
        <p>Monday to Friday by Appointment</p>
        <h4>Contact Us</h4>
        <p>Phone: (123)-456-7890</p>
        <p>Email: asubba@belart.com</p>

</div>
<%- include('./partials/footer.ejs') %>