<%- include('./partials/header.ejs') %>
<div class="item_left_about">
  <div class="col-sm-8">
    <h3>Welcome to Bel:Art</h3>
      <p>As a group of gallerist, we bring to you unique art pieces </p>
      <p>Check out our website to find about the art pieces we have procured and information regarding them </p>
  </div>
</div>
<div class="item_right_about">
  <img src='https://artlogic-res.cloudinary.com/w_650,c_limit,f_auto,fl_lossy,q_auto/artlogicstorage/vadehraart/images/view/d2a4b73d2a079462dd182b33273b498aj/vadehraartgallery-benode-behari-mukherjee-nepal-the-valley-1949.jpg' 
  alt="side_image" height = "300"  width="250">
</div>
 <%- include('./partials/footer.ejs') %>